/* AMP Project*/
:root {
  --bg-body-color: #1f2329;
  --text-color-title: #fff;
  --link-color: #fb5c40;
  --hover-link-color: #fb5c40;
  --text-color-body: #fff;
}

.hide {
  opacity: 0;
}

.seo-only {
  display: none !important;
  height: 0;
  opacity: 0;
}

ul {
  padding: 0;
  margin: -0.5rem 0 0;
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.7rem;
  line-height: 1.28;
  font-weight: 200;
  margin: 0;
  background-color: var(--bg-body-color);
  color: var(--text-color-body);
  text-rendering: optimizeLegibility;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 2rem;
    font-weight: 300;
  }
}

.gutter {
  display: block;
  padding-top: 1rem;
}

.into {
  min-height: 100vh;
  padding: 40px 20px;
  max-height: 100vh;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .into {
    padding: 40px 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .into {
    padding: 1.5vw 10vw;
  }
}
.into .sub-header {
  max-width: 780px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

.header {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1200px) {
  .header {
    margin-bottom: 8rem;
  }
}
.header .title {
  font-family: "Nanum Myeongjo", serif;
  font-size: 40px;
  color: var(--text-color-body);
  font-weight: 300;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .header .title {
    font-size: 100px;
    margin-bottom: 0;
  }
}
.header .title .caption {
  opacity: 0.8;
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (min-width: 1200px) {
  .about {
    position: absolute;
    right: 10vw;
    top: 135px;
    font-size: 16px;
  }
}
.about .profile {
  display: flex;
  align-items: center;
}
.about .title {
  font-size: 32px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 300;
}
.about figure {
  margin: 0;
}
.about figure img {
  filter: grayscale(1);
  display: block;
  height: 64px;
  margin-right: 1rem;
}
.about p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
}
.about a {
  font-size: 22px;
  font-family: "Nanum Myeongjo", serif;
  color: var(--text-color-body);
  text-decoration: none;
}
.about .info {
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  display: block;
  opacity: 0.8;
}
.about .caption {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.8;
  padding-bottom: 0.25rem;
}
.about .links {
  margin-bottom: 2rem;
}
.about .links > a {
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px;
  display: block;
  padding: 0.25rem 0;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.about .links > a:hover {
  color: var(--hover-link-color);
}

.aside li,
.aside a {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 300;
  padding: 0.25rem;
  margin-right: 1rem;
}
@media only screen and (min-width: 992px) {
  .aside li,
.aside a {
    margin-bottom: 14px;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
  }
}
.aside li:first-child,
.aside a:first-child {
  margin-bottom: 8px;
  display: none;
  cursor: default;
}
.aside li:first-child:hover,
.aside a:first-child:hover {
  color: var(--text-color-body);
}
@media only screen and (min-width: 992px) {
  .aside li:first-child,
.aside a:first-child {
    display: block;
  }
}
.aside li:hover,
.aside a:hover {
  color: var(--hover-link-color);
}
.aside small {
  font-size: 12px;
  opacity: 0.8;
}

.menu-scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 1rem 0;
}
@media only screen and (min-width: 768px) {
  .menu-scroll {
    display: block;
    padding: 0;
    overflow: auto;
    white-space: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  .templates-container {
    position: relative;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.preview-project {
  margin: 0 -20px;
}
@media only screen and (min-width: 1200px) {
  .preview-project {
    margin: 0;
  }
}
.preview-project .web-resonsive-thumb {
  margin: 0;
}
@media only screen and (min-width: 1200px) {
  .preview-project {
    position: absolute;
    right: 0;
    width: 80%;
    height: 0;
    padding-top: 31%;
    margin-top: 0;
    margin-bottom: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .preview-project .templates-images-desktop,
.preview-project .tabpanels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 53%;
    will-change: transform;
  }
  .preview-project .templates-images-desktop figure,
.preview-project .tabpanels figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1.5rem;
    margin: 0;
  }
}

/*# sourceMappingURL=amp.css.map */
