body {
  background-color: #f3f5f7;
  padding-top: 60px;
}

.header {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 #e3e5e7;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header > :first-child {
  height: 100%;
  align-items: center;
}
.header__logo img {
  margin-right: 32px;
}
.header__menu__navigation .menu__item {
  font-size: 14px;
  font-weight: 500;
  color: #383333;
  padding: 0.5rem 1rem;
}
.header .profile > a {
  font-size: 14px;
  font-weight: 500;
  color: #383333;
  padding: 0.5rem 1rem;
}
.header .profile .profile__icon {
  height: 28px;
  width: 28px;
  border-radius: 100%;
  border: 1px solid #e2e5e7;
  margin-left: 8px;
}
.header .checkmark {
  margin-left: 12px;
}

.page {
  width: 446px;
  margin: 0 auto;
  padding: 16px 32px 32px;
  background-color: #fff;
  min-height: 100vh;
}
.page--example {
  background-color: #0960b8 !important;
}

.page-result {
  padding: 0 0 16px 0;
}

.title,
.page__title {
  font-size: 24px;
  font-weight: bold;
  color: #383333;
}

.cover {
  margin-left: -32px;
  margin-right: -32px;
}
.cover .cover__img {
  width: 100%;
  height: auto;
}

.paragraph .paragraph__title {
  font-size: 22px;
  color: #383333;
  font-weight: 400;
}
.paragraph .paragraph__description {
  font-size: 14px;
  color: #383333;
}
.paragraph .paragraph__title--bold {
  font-size: 22px;
  font-weight: bold;
}

.padding-16 {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.border-top-E3E5E7 {
  top: 16px;
  border-top: 1px solid #e3e5e7;
  position: relative;
  width: 100%;
}

.assessment {
  display: block;
  text-decoration: none;
  width: 382px;
  height: 302px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 #d9dbdd;
  background-color: #fff;
}
.assessment--personality {
  background-image: url("../assets/images/personality-cover.png");
  background-size: cover;
}
.assessment--skill {
  background-image: url("../assets/images/skill-cover.png");
  background-size: cover;
}
.assessment:hover {
  text-decoration: none;
}
.assessment .assessment__title {
  text-shadow: 0 0 4px #fff;
  font-size: 24px;
  font-weight: bold;
  color: #383333;
}
.assessment .assessment__description {
  text-shadow: 0 0 4px #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #383333;
}

.button {
  display: block;
  width: 188px;
  font-size: 17px;
  padding: 12px 16px;
  border-radius: 28px;
  text-decoration: none;
  color: #3B90E6;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.13);
  border: 1px solid transparent;
}
.button:hover {
  text-decoration: none;
}
.button .button__text {
  text-align: center;
}
.button .button__text.button__text--twoline {
  font-size: 18px;
  line-height: 16px;
}
.button .button__text.button__text--disabled {
  color: gray;
}
.button.button--disabled {
  color: gray;
}
.button .button__subtext {
  font-size: 10px;
}
.button.button--alert {
  color: #fff;
  background-color: #ed546e;
  box-shadow: 0 7px 20px 0 rgba(237, 84, 110, 0.39);
}
.button.button--normal {
  color: #3B90E6;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.13);
}

.txt-blue {
  color: #3B90E6;
}

.question {
  width: 382px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.13);
  background-color: #fff;
  margin: auto;
}
.question .question__text {
  padding: 16px;
  font-size: 16px;
  color: #383333;
  box-shadow: inset 0 -1px 0 0 #e3e5e7;
}
.question .question__answers {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #383333;
}
.question .question__answers .question__answer {
  display: block;
  position: relative;
  padding: 12px 16px 16px 36px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
.question .question__answers .question__answer:hover input ~ .checkmark {
  background-color: #edf0f3;
}
.question .question__answers .question__answer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.question .question__answers .question__answer .checkmark {
  position: absolute;
  top: 12px;
  left: 0;
  height: 28px;
  width: 28px;
  border: 1px solid #f3f5f7;
  background-color: #fff;
  border-radius: 50%;
}
.question .question__answers .question__answer .checkmark:after {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
}
.question .question__answers .question__answer input:checked ~ .checkmark {
  border-color: #3B90E6;
}
.question .question__answers .question__answer input:checked ~ .checkmark:hover {
  background-color: #f3f5f7;
}
.question .question__answers .question__answer input:checked ~ .checkmark:after {
  background-color: #3B90E6;
}
.question .question__answers__grid {
  display: flex;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #383333;
}
.question .question__answers__grid .question__answer {
  display: block;
  position: relative;
  width: 25%;
  padding: 75px 4px 0 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  font-size: 10px;
  text-align: center;
}
.question .question__answers__grid .question__answer:hover input ~ .checkmark {
  background-color: #edf0f3;
}
.question .question__answers__grid .question__answer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.question .question__answers__grid .question__answer .checkmark {
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -26px;
  height: 52px;
  width: 52px;
  border: 1px solid #f3f5f7;
  background-color: #E3E5E7;
  border-radius: 50%;
}
.question .question__answers__grid .question__answer .checkmark:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
}
.question .question__answers__grid .question__answer input:checked ~ .checkmark {
  border-color: transparent;
  background-color: #3B90E6;
}
.question .question__answers__grid .question__answer input:checked ~ .checkmark:hover {
  background-color: #3B90E6;
}
.question .question__answers__grid .question__answer input:checked ~ .checkmark:after {
  background-color: #fff;
}
.question .question__answers__grid .question__answer .checkmark__medium {
  position: absolute;
  top: 24px;
  left: 50%;
  margin-left: -16px;
  height: 32px;
  width: 32px;
  border: 1px solid #f3f5f7;
  background-color: #E3E5E7;
  border-radius: 50%;
}
.question .question__answers__grid .question__answer .checkmark__medium:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}
.question .question__answers__grid .question__answer .checkmark__medium input:checked ~ .checkmark {
  border-color: transparent;
  background-color: #3B90E6;
}
.question .question__answers__grid .question__answer .checkmark__medium input:checked ~ .checkmark:hover {
  background-color: #3B90E6;
}
.question .question__answers__grid .question__answer .checkmark__medium input:checked ~ .checkmark:after {
  background-color: #fff;
}
.question .question__multiple__text {
  font-size: 14px;
}
.question .question__multiple__text:nth-child(2) {
  position: relative;
}
.question .question__multiple__text:nth-child(2)::before {
  width: 1px;
  content: "";
  height: 63px;
  background-color: #E3E5E7;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -31.5px;
}

.cp-progress {
  width: 379px;
  background-color: #f3f5f7;
  padding: 15px 16px;
}
.cp-progress .cp-progress__text {
  font-size: 14px;
  font-weight: bold;
  color: #383333;
}
.cp-progress .cp-progress__bar {
  margin-top: 5px;
}
.cp-progress .cp-progress__bar .progress-bar {
  background-color: #ed546e;
}

/*rating skill*/
.box-rating {
  background-color: #0860b8;
  border-radius: 5px;
  margin: 25px 0;
  padding: 10px;
  color: #ffffff;
}
.box-rating .bottom__content {
  clear: both;
  padding: 0 15px 20px 15px;
  font-size: 10px;
  margin-bottom: 0px;
  color: #ffffff;
}
.box-rating .bottom__content .text__left {
  float: left;
}
.box-rating .bottom__content .text__left.q1 {
  margin-left: 2px;
}
.box-rating .bottom__content .text__left.q2 {
  margin-left: 0px;
}
.box-rating .bottom__content .text__left.q3 {
  margin-left: 11px;
}
.box-rating .bottom__content .text__right {
  float: right;
}
.box-rating .bottom__content .text__right.q1 {
  position: relative;
  right: 29px;
}
.box-rating .bottom__content .text__right.q2 {
  position: relative;
  right: 7px;
}
.box-rating .bottom__content .text__right.q3 {
  position: relative;
  right: 18px;
}
.box-rating .title {
  font-size: 16px;
  margin-bottom: 0px;
  color: #ffffff;
}

.rating {
  height: 60px;
  padding-right: 28px;
}

.rating label {
  text-indent: -100px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}

.rating label.stars {
  background: transparent url(../assets/images/rating-star.png) no-repeat center center;
  background-size: 35px 35px;
}

.rating input[type=radio] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.rating input[type=radio],
.rating label.stars {
  float: right;
  margin: 7px;
}

.rating label.stars:hover ~ label.stars,
.rating label.stars:hover,
.rating input[type=radio][name=stars-1]:checked ~ label.stars {
  background-image: url(../assets/images/rating-star-hover.png);
}

.rating label.stars:hover ~ label.stars,
.rating label.stars:hover,
.rating input[type=radio][name=stars-2]:checked ~ label.stars {
  background-image: url(../assets/images/rating-star-hover.png);
}

.rating label.stars:hover ~ label.stars,
.rating label.stars:hover,
.rating input[type=radio][name=stars-3]:checked ~ label.stars {
  background-image: url(../assets/images/rating-star-hover.png);
}

.chart-container {
  padding: 30px 0 0 0;
  text-align: center;
  background-color: #0960b8;
}

.result-container {
  padding: 0 32px;
}
.result-container .result-bar-chart {
  padding: 20px 0;
}
.result-container .result-bar-chart .category-container {
  padding-top: 20px;
  font-size: 16px;
}
.result-container .result-bar-chart .category-container .category_title {
  font-weight: bold;
  font-size: 14px;
}
.result-container .result-bar-chart .category-container .deviation-bar {
  width: 85%;
}
.result-container .result-bar-chart .category-container .deviation-bar .progress {
  background: #f34f6b22;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.result-container .result-bar-chart .category-container .deviation-bar .progress .progress-bar {
  background: #f34f6b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.result-container .result-bar-chart .category-container .score-label {
  width: 15%;
  text-align: right;
  color: #f34f6b;
  font-size: 10px;
}
.result-container .result-bar-chart .category-container .score-label span {
  font-size: 14px;
  font-weight: bold;
}
.result-container .result-bar-chart .category-container .note {
  font-size: 14px;
}

/*# sourceMappingURL=campus.css.map */
