
@font-face {
  font-family: 'Arabica';
  src: url('Arabica.eot?#iefix') format('embedded-opentype'),
	     url('Arabica.woff') format('woff'),
	     url('Arabica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arabica', sans-serif;
}
