textarea, input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none !important; }

.search-data {
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: none;
  border-radius: 3px;
  box-sizing: border-box !important;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  -webkit-appearance: none !important;
  appearance: none !important; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f2f2f2;
  color: #666d70; }

.hide {
  display: none; }

.main-content .title,
.title {
  font-weight: bold;
  text-transform: uppercase; }

.main-menu {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  z-index: 100;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0; }

[role="navigation"] {
  float: right;
  overflow: hidden; }
  [role="navigation"] ul {
    padding: 0;
    margin: 0;
    overflow: hidden; }
  [role="navigation"] li {
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 14px; }
    [role="navigation"] li > a {
      color: #fff;
      display: block;
      line-height: 40px; }

.logo-brand {
  display: inline-block;
  margin-top: 2px;
  vertical-align: middle;
  color: #fff;
  font-weight: 100;
  letter-spacing: 3px; }
  .logo-brand img {
    height: 28px;
    vertical-align: middle;
    margin-right: 20px; }

#subscribe {
  font-weight: 300;
  line-height: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid #fff;
  text-decoration: none; }
  @media only screen and (min-width: 768px) {
    #subscribe {
      padding: 1rem 2rem; } }
  #subscribe:hover {
    background-color: #FF5C59;
    border-color: #FF5C59; }

.page-header-hero {
  background-image: url("../img/bg/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative;
  text-align: left;
  color: #fff; }
  .page-header-hero > * {
    position: relative;
    z-index: 100; }
  .page-header-hero::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  .page-header-hero .title {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 4.5px;
    margin-bottom: 0;
    font-weight: bold; }
    @media only screen and (min-width: 768px) {
      .page-header-hero .title {
        font-size: 4rem; } }
  .page-header-hero .info {
    letter-spacing: 2px;
    max-width: 640px;
    font-weight: 100;
    line-height: 1.7;
    margin-top: 0; }

@media only screen and (min-width: 1200px) {
  .main-content {
    max-width: 1200px;
    padding: 2rem 40px; } }
.main-content .title-section {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 2rem;
  text-transform: uppercase;
  border-bottom: solid 1px #eff0f1; }

.sub-info {
  font-size: .98rem; }
  .sub-info .info {
    font-weight: 300;
    color: #666d70;
    margin-top: 0; }

.wrapper-main-table {
  padding-top: 3rem; }

.section-home-hero {
  background-color: #fff;
  min-height: 480px; }

.clear::before, .clear::after {
  display: table;
  content: " "; }

h1,
h2,
h3,
h4,
h5,
.more-all {
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: #333; }

.content-inner {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box; }
  @media only screen and (min-width: 768px) {
    .content-inner {
      padding: 0 24px; } }
  @media only screen and (min-width: 1200px) {
    .content-inner {
      padding: 0; } }

.section-hero {
  position: relative;
  padding-top: 32px; }
  @media only screen and (min-width: 768px) {
    .section-hero {
      padding-top: 80px;
      padding-bottom: 80px; } }

.title-hero {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 25px; }
  @media only screen and (min-width: 768px) {
    .title-hero {
      font-size: 48px;
      line-height: 58px; } }

.description-hero {
  font-size: 17px;
  line-height: 22px;
  font-weight: 300; }
  @media only screen and (min-width: 768px) {
    .description-hero {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 25px; } }

.section-hero-media {
  min-height: 320px;
  position: relative;
  overflow: hidden; }
  .section-hero-media .hero-image {
    background-image: url(https://1.bp.blogspot.com/-_BxqAmFdU0M/WS7vwFhLQOI/AAAAAAAAAO8/WCm1xSpmlxYVagq9zDXEesklONnPUsfpgCLcB/s640/Hero_1x.png);
    background-position: left center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0; }

.more-all a {
  font-size: 18px;
  display: block;
  position: relative;
  color: #666; }
  .more-all a:after {
    display: inline-block;
    content: '';
    background-image: url(https://trello-attachments.s3.amazonaws.com/56ce84501852d461f102ee7a/592e99a2d3073c7885c4bb6e/f02b2770b3881a4b62c2f38675a82391/optimised.svg);
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 15px; }

@media (min-width: 768px) {
  .flexbox .section-hero-media {
    background-color: #ff5252;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 50%; }

  .flexbox .col-md-offset-7 {
    margin-left: 58.33333%;
    padding-right: 0; }

  .flexbox .cols-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    margin-left: -1.21951%;
    margin-right: -1.21951%; }

  .flexbox .cols-row > * {
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    box-sizing: border-box;
    padding-left: 1.21951%;
    padding-right: 1.21951%; } }
.table-list-content tr, .table-list-content td {
  width: 100%; }

.data-project-list {
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 62px;
  padding: 15px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease; }
  .data-project-list:hover {
    border-bottom: 1px solid #b1b1b1; }
  .data-project-list h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .2px;
    line-height: 24px;
    margin-bottom: 0; }
  .data-project-list p {
    font-size: 1rem;
    color: #999;
    margin: 0 0 5px 0; }
  .data-project-list a {
    color: #333; }
    .data-project-list a:hover {
      color: #f96277; }

.data-link-project:hover {
  color: inherit !important; }

.data-project-thumbnail {
  border-radius: 3px;
  width: 60px;
  height: 90px;
  margin-right: 20px; }
  .data-project-thumbnail > img {
    border-radius: 3px; }

.project-tags {
  font-size: 12px;
  text-transform: uppercase;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 3px; }

.item {
  display: block;
  padding: 40px;
  margin: 30px 0;
  background: #fff;
  -webkit-transform: translatez(0);
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0.2em 1em 0 rgba(4, 49, 64, 0.1);
  transition: height .3s ease-in-out,-webkit-transform .3s ease-in-out,box-shadow .3s ease-in-out;
  transition: height .3s ease-in-out,transform .3s ease-in-out,box-shadow .3s ease-in-out; }
  .item:hover {
    box-shadow: 0 0.5em 1.5em 0 rgba(4, 49, 64, 0.2); }
  @media only screen and (min-width: 1200px) {
    .item {
      overflow: hidden; } }
  .item .project-header {
    margin-bottom: .5rem; }
  .item .info,
  .item .info > div,
  .item .screen,
  .item .screen > div {
    display: inline-block;
    vertical-align: top; }
  .item .title {
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: none;
    color: #0087ff; }
  .item .focus {
    font-size: 12px;
    text-transform: uppercase;
    opacity: .8;
    letter-spacing: 2px;
    padding-top: 1rem;
    display: block; }
    .item .focus > b {
      display: block; }
  .item .info {
    padding-right: 40px;
    font-size: 16px; }
    @media only screen and (min-width: 1200px) {
      .item .info {
        width: 45%;
        float: left; } }
  .item .resource a {
    color: #666d70;
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #eee;
    border-radius: 2px;
    text-align: center;
    margin-right: 1%;
    text-decoration: none; }
    .item .resource a:hover {
      border-color: #ddd; }
  .item .fa-github {
    font-size: 20px; }
  @media only screen and (min-width: 1200px) {
    .item .screen {
      width: 55%; } }
  .item .project-short {
    padding: 1rem 0 0 0;
    max-height: 256px;
    min-height: 256px;
    overflow: hidden; }
    @media only screen and (min-width: 1200px) {
      .item .project-short {
        padding: 0 0 0 1rem; } }

body {
  -webkit-font-smoothing: antialiased;
  color: #414141;
  font-weight: 400;
  font-size: 17px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  background-color: #f8f9fa;
  padding-bottom: 10rem; }

.container {
  max-width: 1400px; }

.section-content {
  margin-bottom: 40px; }
  .section-content:last-of-type {
    margin-bottom: 0; }

#header {
  background-color: #fff;
  position: fixed;
  height: 64px;
  left: 0;
  top: 0;
  right: 0; }

.info-featured {
  color: #fff;
  margin: auto; }
  .info-featured .info-content {
    padding: 12rem 0;
    max-width: 780px;
    margin: auto;
    text-align: center; }
  .info-featured h1 {
    font-size: 64px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 8px; }
  .info-featured .info-description {
    font-size: 22px; }
  .info-featured .info-featured-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.cover-story {
  background: #eee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 80px 0 40px; }

.column-figure {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64%; }
  .column-figure > .featured-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 57.25%; }

.story-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36%;
  padding: 0 0 0 2rem;
  color: #555;
  line-height: 1.48;
  background-color: #E82F3A; }
  .story-content .title-section {
    color: #fff;
    margin-bottom: 1rem; }
  .story-content .content {
    margin-bottom: 40px; }
  .story-content > .story-wrap {
    padding: 40px 45px 35px 32px;
    color: #fff; }
  .story-content a {
    text-decoration: underline;
    color: #fff; }

.resgister {
  padding-top: 20px; }
  .resgister .keyword {
    font-size: 15px;
    font-weight: 100; }
  .resgister .button-resgister {
    font-size: 18px;
    display: inline-block;
    padding: 10px 28px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px; }
  .resgister .highlight {
    font-weight: bold;
    color: #ff5c5c; }

.card-content {
  background-color: #fff;
  padding: 40px 30px 60px;
  margin-bottom: 40px;
  position: relative;
  height: 100%;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.11); }
  .card-content p:last-of-type {
    height: 20px;
    margin: 0;
    position: absolute;
    bottom: 30px; }

.title-section {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px; }

.sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 32px; }

/*# sourceMappingURL=style.css.map */
