/* AMP Project*/
@import 'components/responsive';

$color-brand:     #3A92D3;
$color-headline:  #262626;
$color-paragraph: #484848;
$bg-hrader:       #ECECEC;
$bg-gray: #EAEAEA;
$color-link: #33BBFF;

$raduis: 4px;

@mixin animatoin {
  -webkit-transition: 3ms all;
  transition: 3ms all;
}


@mixin gutter-content {
  padding: 2rem 0;
  @include media(desktop) {
    padding: 6rem 0;
  }
  @include media(largescreen) {
    padding: 14rem 0;
  }
}

@mixin gutter-content-service {
  padding: 2rem 0 0;
  @include media(desktop) {
    padding: 6rem 0 0;
  }
  @include media(largescreen) {
    padding: 10rem 0 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Circular ,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 1.7rem;
  font-weight: 200;
  color: $color-paragraph;
  margin: 0;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  @include media(tablet) {
    font-size: 2rem;
    font-weight: 300;
  }
}

html { font-size: 62.5%; }
img { max-width: 100%;}
figure { margin: 0; }
a { text-decoration: none; }
ul { padding: 0; margin: 0; list-style-type: none; }
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  letter-spacing: 1.5px;
}

p {
  font-size: 2.2rem;
  line-height: 2.8rem;
  @include media(tablet) {
    font-size: 2rem;
  }
}
strong,
#name {
  color: $color-headline;
  font-weight: 400;
}

a {
  color: $color-link;
}

/* =============================== Unities*/
.attr-center {
  display: inline-block;
  vertical-align: middle;
}

.attr-block {
  display: block;
}

.full-content {
  width: 100%;
  display: block;
}

.sub-section {
  padding: 5rem 2rem;
}

.description {
  padding: 2.4rem 1.6rem;
  @include media(tablet) {
    padding: 6rem 3.5rem 0 3rem;
  }
}

.wrap-content {
  padding: 0 20px;
  @include media(tablet) {
    padding: 0;
  }
}

.hide-mobile {
  display: none;
  @include media(tablet) {
    display: block;
  }
}

/* =============================== Header*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $bg-hrader;
  z-index: 100;
  padding: 8px 0;
}

#logo {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.placeholder-logo {
  padding-top: 4px;
  display: inline-block;
  margin-left: 1.6rem;
  @include media(tablet) {
    margin-left: 0;
  }
}

.menu {
  text-decoration: none;
  display: inline-block;
  line-height: 4.5rem;
  margin-left: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-headline;

  &.btn-small {
    display: none;
    @include media(tablet) {
      display: inline-block;
    }
  }
}

.let-chat {
  margin-right: 1.6rem;
  @include media(tablet) {
    margin-right: 3rem;
  }

  a {
    color: $color-link;
    display: inline-block;
    margin-left: 2rem;
    font-weight: bold;
  }
}

.container {
  box-sizing: border-box;
  max-width: 1026px;
  margin: auto;
  overflow: hidden;
}

.wrap-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h1 {
  font-size: 3.6rem;
}

.title {
  color: $color-headline;
  font-size: 3.6rem;

  @include media(tablet) {
    font-size: 4.6rem;
  }
}

.sub-title {
  color: $color-headline;
  font-size: 2.4rem;
}

.more p {
  margin-bottom: 0;
}

.readmore {
  color: $color-headline;
  display: inline-block;
  vertical-align: middle;
  &:hover { opacity: .8; }

  &:after {
    background-repeat: no-repeat;
    background-image: url(../img/craft/right-arrow.svg);
    display: inline-block;
    content: "";
    background-position: right;
    width: 14px;
    height: 16px;
    margin-left: 10px;
    vertical-align: middle;
  }
}

/* ==================================================================== Buttom*/
@mixin button-style {
  padding: 10px 20px;
  background-color: $color-link;
  color: #fff;
  border-radius: $raduis;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1.2px;
  @include animatoin;
  &:hover {
    opacity: .8;
  }
}

.btn {
  @include button-style;
  display: block;
  margin-top: 1.5rem;

  &.btn-white {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
  }
}

.btn-small {
  @include button-style;
  line-height: normal;
}

/* ====================================================================== Into*/
.into {
  background-color: $bg-gray;
  overflow: hidden;
  padding: 10rem 0 0;
  margin-bottom: 3.2rem;
  @include media(tablet) {
    text-align: center;
    margin-bottom: 0;
    padding: 22rem 1rem 0;
  }

  .into-service {
    margin: auto;
    max-width: 640px;
  }

  .into-section {
    max-width: 820px;
    margin: auto;
  }

  .title {
    font-size: 3.6rem;
    @include media(tablet) {
      line-height: 10rem;
      font-size: 8rem;
    }
  }

  .readmore {
    text-decoration: none;
    color: #fff;
  }
}

.screen-into {
  max-width: 1486px;
  text-align: center;
  margin: 2.7rem auto 0;
  @include media(tablet) {
    margin: auto;
  }
}

.content {
  @include media(tablet) {
    width: 47.5%;
  }

  p {
    line-height: 32px;
  }

  &-type-left {
    @include media(tablet) {
      float: left;
      padding-right: 2.5%;
    }
  }

  &-type-right {
    @include media(tablet) {
      float: right;
      padding-left: 2.5%;
    }
  }

  &.text-right {
    text-align: right;
  }
}


/* ============================================================== Main Service*/
.service {
  max-width: 876px;
  margin: auto;
  position: relative;
  padding: 2.4rem 0;

  @include media(tablet) {
    padding: 8rem 240px 0 0;
  }

  .attr-center {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-headline;
  }

  .html5 {
    position: absolute;
    top: 120px;
    right: 0;
    width: 165px;

    b {
      display: block;
      @extend .attr-center;
    }
  }
}

/* ========================================================= Web Funmdamentals*/
.web-funmdamentals {
  padding: 3.2rem 0;

  @include media(tablet) {
    border-top: 1px solid rgba(0,0,0,0.09);
    padding: 6rem 0;
    margin-top: 6rem;
  }

  .content-box {
    background-color: #E8F6F7;
    overflow: hidden;
    border-radius: $raduis;
  }
}

.wrap {
  max-width: 1026px;
  margin: auto;
}

.web-fundamentals-thumb {
  margin: 3rem 0 -1rem 2rem;
}

.list-tools {
  p {
    font-size: 1.8rem;
  }

  strong {
    display: block;
    color: $color-link;
    padding-bottom: 1rem;
  }
}

/* =============================================================== Responsive */
.responsive-web {
  @include media(tablet) {
    padding: 6rem 0;
  }

  .content-box {
    background-color: #FFF6F9;
    overflow: hidden;
    position: relative;
    border-radius: $raduis;
    @include media(tablet) {
      min-height: 445px;
    }
  }

  .description {
    @include media(tablet) {
      padding-left: 5rem;
    }
  }
}

.list-option {
  font-size: 1.8rem;
  line-height: 1.4rem;
}

.web-resonsive-thumb {
  position: absolute;
  right: 0;
}

/* =================================================================== clients */
.clients {
  padding-bottom: 4rem;
  text-align: center;

  .sub-title {
    margin-bottom: 3rem;
  }

  .i-amphtml-layout {
    margin: 0 2rem;
    vertical-align: middle;
  }
}

/* =================================================================== Shares */
.share-content {
  margin: 2rem auto;
  border: 1px solid #d9dbdb;
  max-width: 844px;
  border-radius: $raduis;

  .sub-title {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.09);
    line-height: 6rem;
    margin-bottom: 0;
    font-weight: 300;
  }
}

.share-to-social {
  text-align: center;
}

.link-share {
  display: inline-block;
  line-height: 7.4rem;

  .icon {
    position: relative;
    top: 5px;
    margin-right: 1rem;
  }
}

/* =================================================================== clients*/
.box-option {
  display: inline-block;
  border: 2px solid $color-brand;
  padding: 2rem 4rem 4rem;
  width: 45%;
  max-width: 432px;
  border-radius: 4px;
  text-align: left;
}

.option-list {
  font-size: 1.8rem;
  font-weight: 400;
  color: $color-headline;
  position: relative;
  margin-bottom: 1rem;

  &:before {
    background-repeat: no-repeat;
    background-image: url(../img/craft/list.svg);
    display: inline-block;
    content: "";
    background-position: right;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
  }
}

/* ============================================================== Secton Price*/
.section-price {
  background-color: #F7F7F7;
  border-top: 1px solid rgba(0,0,0,0.09);
  text-align: center;
  padding: 6.5rem 0 7rem 0;
  @include media(tablet) {
    margin-top: 10rem;
    padding: 10rem 0;
  }
}

.price-box {
  max-width: 970px;
  margin: auto;
  padding-top: 2rem;
}

.box-item {
  width: 100%;
  background-color: #fff;
  min-height: 320px;
  text-align: center;
  border-radius: 6px;
  position: relative;
  &.enterprise {
    border: 1px solid $color-link;
  }
}

.header-price {
  border-bottom: 1px solid rgba(0,0,0,0.06);
  line-height: 46px;
  font-size: 2rem;
  font-weight: 400;
}

.service-detail {
  padding: 1rem 2rem 2rem;

  strong {
    font-size: 2rem;
    color: $color-headline;
  }

  p {
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.6;
  }

  .pricing {
    color: $color-headline;
    font-size: 7.2rem;
    font-weight: 500;
    position: relative;

    &:before {
      content: "$";
      color: $color-paragraph;
      display: inline-block;
      font-size: 22px;
      font-weight: 300;
      vertical-align: 34px;
      margin-left: -24px;
      margin-right: 5px;
    }
  }
}

/* ============================================================ Secton Contact*/
.section-contact {
  max-width: 494px;
  margin: auto;
  padding-top: 4rem;
}

/* ============================================================= Secton Founder*/
footer {
  padding: 6rem 0;
  border-top: 1px solid rgba(0,0,0,0.09);
  text-align: center;
}

.founder {
  margin: -104px auto 0;
  text-align: center;
  max-width: 540px;

  .i-amphtml-element {
    border-radius: 100%;
  }

  .position {
    font-size: 1.3rem;
    color: $color-paragraph;
    text-transform: uppercase;
  }
}

.contact {
  padding-top: 4rem;
  font-size: 1.5rem;
}

.submit {
  text-align: center;
  padding-top: 2rem;
}

.button {
  background: $color-brand;
  border-radius: 4px;
  font-size: 2.4rem;
  color: #FFFFFF;
  letter-spacing: 0.24px;
  padding: 1.6rem 2rem;
  display: block;
  max-width: 320px;
  margin: auto;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column {
  @mixin prefix-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @include media(tablet) {
    @include prefix-flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    -ms-flex: 0 0 calc(50% - 10px);
    flex: 0 0 calc(50% - 10px);
  }

  &-4 {
    @include media(tablet) {
      @include prefix-flex;
      -ms-flex: 0 0 31%;
      flex: 0 0 31%;
      -ms-flex: 0 0 calc(33.33333% - 10px);
      flex: 0 0 calc(33.33333% - 10px);
    }
  }

  &-6 {
    @include media(tablet) {
      @include prefix-flex;
      -ms-flex: 0 0 48%;
      flex: 0 0 48%;
      -ms-flex: 0 0 calc(50% - 10px);
      flex: 0 0 calc(50% - 10px);
    }
  }
}
