/* AMP Project*/
@import 'components/responsive';

$color-brand:     #3A92D3;
$color-headline: #fff;
$color-paragraph: #484848;
$bg-hrader:       #ECECEC;
$bg-gray: #f9ffff;
$color-link: #33BBFF;

$font-face: 'Nanum Myeongjo', serif;
$raduis: 4px;

.seo-only {
  display: none;
  height: 0;
  opacity: 0;
}

ul {
  padding: 0;
  margin: -0.5rem 0 0;
  list-style-type: none;
}

@mixin animatoin {
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Circular ,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 1.7rem;
  line-height: 1.28;
  font-weight: 200;
  color: #fff;
  margin: 0;
  text-rendering: optimizeLegibility;
  background-color:  #272725;
  @include media(tablet) {
    font-size: 2rem;
    font-weight: 300;
  }
}


.gutter {
  display: block;
  padding-top: 1rem;
}

.into {
  min-height: 100vh;
  padding: 40px 20px;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  
  @include media(tablet) {
    padding: 40px 20px;
  }

  @include media(desktop) {
    padding: 1.5vw 10vw;
  }

  .sub-header {
    max-width: 780px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
    @include media(tablet) {
      color: $color-headline;
    }
  }
}

.header {
  margin-bottom: 6rem;
  .title {
    font-family: $font-face;
    font-size: 40px;
    color: $color-headline;
    font-weight: 300;
    line-height: 1.2;
    @include media(tablet) {
      font-size: 100px;
      margin-bottom: 0;
    }

    .caption {
      opacity: 0.8;
      display: block;
      font-family: Circular ,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

// =========================== ABOUT
.about {
  position: absolute;
  right: 10vw;
  width: 316px;
  top: 90px;
  font-size: 16px;

  .profile {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 32px;
    font-family: $font-face;
    font-weight: 300;
  }

  figure {
    margin: 0;

    img {
      filter: grayscale(1);
      display: block;
      height: 64px;
      margin-right: 1rem;
    }
  }

  p {
    font-size: 20px;
    font-weight: 300;
    color: #eee;
    line-height: 1.4;
  }

  a {
    font-size: 22px;
    font-family: $font-face;
    color: #fff;
    text-decoration: none;
  }

  .info {
    font-family: Circular ,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    display: block;
    opacity: .8;
  }

  .caption {
    text-transform: uppercase;
    font-size: 12px;
    opacity: .8;
    padding-bottom: .25rem;
  }

  .links {
    margin-bottom: 2rem;
    > a {
      font-family: Circular ,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-size: 18px;
      color: #fff;
      display: block;
      padding: .25rem 0;
      @include animatoin;
      &:hover {
        color: #dd3516;
      }
    }
  }
}
// =========================== ASIDE
.aside {
  li {
    color: $color-headline;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 14px;
    &:first-child {
      margin-bottom: 8px;
    }
  }

  small {
    font-size: 12px;
    opacity: .8;
  }
}
// =========================== PORTFOLIO
.templates-container {
  @include media(desktop) {
    position: relative;
    display: flex;
      -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    }
}

  .preview-project {
    position: absolute;
    right: 0;
    width: 65%;
    height: 0;
    padding-top: 31%;
    margin-top: 0;
    margin-bottom: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    .templates-images-desktop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding-top: 53%;
      will-change: transform;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -1.5rem;
      }
  }
}