body {
  background: #202124;
  color: #fff;
  margin: auto;
  position: relative;
  height: 100vh;
  font-family: 'Philosopher', sans-serif;
}

h1 {
  font-size: 80px;
}

h2,
.sub-title {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 22px;
  font-weight: bold;
}

p {
  letter-spacing: 1.5px;
  opacity: .8;
  font-weight: 300;
}

a {
  color: #fff;
  text-decoration: underline;
}

.slide {
  height: 100vh;
}

.slide .carousel-control.left,
.slide .carousel-control.right {
  background-image: none;
}

.slide .carousel-control {
  width: 5%;
}

.item {
  width: 100vw;
  height: 100vh;
}

.item.one {
  background-color: #05492c;
}

.item.two {
  background-color: #fff;
}

.grid-parent {
  height: 100vh;
}

@media only screen and (min-width: 1200px) {
  .grid-parent {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 15px;
    grid-template-columns: repeat(18, minmax(0, 1fr));
    grid-column-gap: 16px;
  }
}

.grid-parent .intro-image-container {
  margin-right: 0;
  grid-column-end: span 8;
}

@media only screen and (min-width: 1200px) {
  .grid-parent .intro-image-container {
    margin-left: calc(-50vw + 647px);
  }
}

.grid-parent .intro-image {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-drag: none;
  user-select: none;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

@media only screen and (min-width: 1600px) {
  .grid-parent .intro-image {
    -o-object-position: 100px;
    object-position: 100px;
  }
}

.grid-parent .intro-text {
  align-self: center;
  grid-column-start: 11;
  grid-column-end: span 6;
}

.grid-parent .intro-text p {
  font-size: 18px;
  letter-spacing: 1.5;
  font-weight: 300;
}

.grid-parent .d-block {
  display: block;
}
