@mixin bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

body {
  -webkit-font-smoothing: antialiased;
  color: #414141;
  font-weight: 400;
  font-size: 17px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.info-featured {
  color: #fff;
  @include media (largescreen) {
  }

  .info-content {
    padding: 15rem 0;
    max-width: 780px;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 64px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 24px;
  }

  .info-description {
    font-size: 22px;
  }
  
  margin: auto;
  .info-featured-image {
    @include bg-cover;
  }
}

.cover-story {
  background: #eee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 80px 0;
}

.column-figure {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64%;

  > .featured-image {
    @include bg-cover;
    padding-bottom: 57.25%;
  }
}

.story-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36%;
  padding: 0 0 0 2rem;
  color: #555;
  line-height: 1.48;
  background-color: #015EFE;

  .title-section {
    color: #fff;
    margin-bottom: 1rem;
  }

  .content {
    margin-bottom: 40px;
  }

  > .story-wrap {
    padding: 40px 45px 35px 32px;
    color: #fff;
  }

  a {
    text-decoration: underline;
    color: #fff;
  }
}
