@mixin bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #414141;
  font-weight: 400;
  font-size: 17px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  background-color: #f8f9fa;
}

#header {
  background-color: #fff;
  position: fixed;
  height: 64px;
  left: 0;
  top: 0;
  right: 0;
}

.info-featured {
  color: #fff;
  // padding-top: 64px;
  @include media (largescreen) {
  }

  .info-content {
    padding: 12rem 0;
    max-width: 780px;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 64px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 8px;
  }

  .info-description {
    font-size: 22px;
  }

  margin: auto;
  .info-featured-image {
    @include bg-cover;
  }
}

.cover-story {
  background: #eee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 80px 0 40px;
}

.column-figure {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64%;

  > .featured-image {
    @include bg-cover;
    padding-bottom: 57.25%;
  }
}

.story-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36%;
  padding: 0 0 0 2rem;
  color: #555;
  line-height: 1.48;
  background-color: #015EFE;

  .title-section {
    color: #fff;
    margin-bottom: 1rem;
  }

  .content {
    margin-bottom: 40px;
  }

  > .story-wrap {
    padding: 40px 45px 35px 32px;
    color: #fff;
  }

  a {
    text-decoration: underline;
    color: #fff;
  }
}

.resgister {
  padding-top: 20px;
  .keyword {
    font-size: 14px;
    font-weight: 100;
  }

  .button-resgister {
    font-size: 18px;
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px;
  }

  .highlight {
    font-weight: bold;
    color: #ff5c5c;
  }
}

// --------------------------- card-content
.card-content {
  background-color: #fff;
  padding: 40px 30px 60px;
  margin-bottom: 40px;
  position: relative;
  height: 100%;

  p:last-of-type {
    height: 20px;
    margin: 0;
    position: absolute;
    bottom: 30px;
  }
}

.title-section {
  margin-top: 0;
  margin-bottom: 40px;
}

.sub-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
}
