
body {
  background-color: #ff5252;
}

.section-home-hero {
  background-color: #fff;
  min-height: 480px;
}

.clear {
  &::before,
  &::after {
    display: table;
    content: " ";
  }
}

h1,
h2,
h3,
h4,
h5 ,
.more-all {
  font-family: 'Maitree', serif;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

.content-inner {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
  @include media(tablet) {
    padding: 0 24px;
  }
  @include media(desktop) {
    padding: 0;
  }
}

.section-hero {
  position: relative;
  padding-top: 32px;


  @include media(tablet) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.title-hero {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 25px;
  @include media(tablet) {
    font-size: 48px;
    line-height: 58px;
  }
}

.description-hero {
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
  @include media(tablet) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

.section-hero-media {
  min-height: 320px;
  position: relative;
  overflow: hidden;

  .hero-image {
    background-image: url(https://1.bp.blogspot.com/-_BxqAmFdU0M/WS7vwFhLQOI/AAAAAAAAAO8/WCm1xSpmlxYVagq9zDXEesklONnPUsfpgCLcB/s640/Hero_1x.png);
    background-position: left center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
  }
}

// Link
.more-all a {
  font-size: 18px;
  display: block;
  position: relative;
  color: #666;
  &:after {
    display: inline-block;
    content: '';
    background-image: url(https://trello-attachments.s3.amazonaws.com/56ce84501852d461f102ee7a/592e99a2d3073c7885c4bb6e/f02b2770b3881a4b62c2f38675a82391/optimised.svg);
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .flexbox .section-hero-media {
    background-color: #ff5252;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }

  .flexbox .col-md-offset-7 {
    margin-left: 58.33333%;
    padding-right: 0;
  }

  .flexbox .cols-row {
      display:-webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: box;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: stretch;
      -ms-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: stretch;
      -ms-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      margin-left: -1.21951%;
      margin-right: -1.21951%
  }

  .flexbox .cols-row>* {
      flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      box-sizing: border-box;
      padding-left: 1.21951%;
      padding-right: 1.21951%
  }
}

@media (min-resolution: 192dpi) {

}
