.table-list-content {
  tr,td {
    width: 100%;
  }
}

.data-project-list {
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 62px;
  padding: 15px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;

  &:hover {
    border-bottom: 1px solid #b1b1b1;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .2px;
    line-height: 24px;
    margin-bottom: 0;
  }

  p {
    font-size: 1rem;
    color: #999;
    margin: 0 0 5px 0;
  }

  a {
    color: #333;
    &:hover {
      color: #f96277;
    }
  }
}

.data-link-project {
  &:hover {
    color: inherit !important;
  }
}

.data-project-thumbnail {
  border-radius: 3px;
  width: 60px;
  height: 90px;
  margin-right: 20px;

  > img {
    border-radius: 3px;
  }
}

.project-tags {
  font-size: 12px;
  text-transform: uppercase;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 3px;
}

//
.item {
  display: block;
  padding: 40px;
  margin: 30px 0;
  background: #fff;
  -webkit-transform: translatez(0);
  border-bottom: 1px solid #ddd;
  @include media(desktop) {
    font-size: 0;
  }

  .project-header {
    margin-bottom: 1rem;
  }

  .info,
  .info > div,
  .screen,
  .screen > div {
    display: inline-block;
    vertical-align: top;
  }

  .title {
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  .focus {
    font-size: .65rem;
    text-transform: uppercase;
  }

  .info {
    padding-right: 80px;
    font-size: .85rem;
    @include media(desktop) {
      width: 35%;
    }
  }

  .resource > a {
    color: #FF5C59;
    text-decoration: underline;
  }

  .screen {
    @include media(desktop) {
      width: 65%;
    }
  }

  .project-short {
    padding: 1rem 0 0 0;

    @include media(desktop) {
      padding: 0 0 0 1rem;
      width: 50%;
    }
  }
}
