.table-list-content {
  tr,td {
    width: 100%;
  }
}

.data-project-list {
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 62px;
  padding: 15px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;

  &:hover {
    border-bottom: 1px solid #b1b1b1;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .2px;
    line-height: 24px;
    margin-bottom: 0;
  }

  p {
    font-size: 1rem;
    color: #999;
    margin: 0 0 5px 0;
  }

  a {
    color: #333;
    &:hover {
      color: #f96277;
    }
  }
}

.data-link-project {
  &:hover {
    color: inherit !important;
  }
}

.data-project-thumbnail {
  border-radius: 3px;
  width: 60px;
  height: 90px;
  margin-right: 20px;

  > img {
    border-radius: 3px;
  }
}

.project-tags {
  font-size: 12px;
  text-transform: uppercase;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 3px;
}

//
.item {
  display: block;
  padding: 40px;
  margin: 30px 0;
  background: #fff;
  -webkit-transform: translatez(0);
  border-bottom: 1px solid #ddd;
  box-shadow: 0 .2em 1em 0 rgba(4,49,64,.1);
  transition: height .3s ease-in-out,-webkit-transform .3s ease-in-out,box-shadow .3s ease-in-out;
  transition: height .3s ease-in-out,transform .3s ease-in-out,box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: 0 .5em 1.5em 0 rgba(4,49,64,.2);
  }

  @include media(desktop) {
    overflow: hidden;
  }

  .project-header {
    margin-bottom: .5rem;
  }

  .info,
  .info > div,
  .screen,
  .screen > div {
    display: inline-block;
    vertical-align: top;
  }

  .title {
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: none;
  }

  .focus {
    font-size: 12px;
    text-transform: uppercase;
    opacity: .8;
    letter-spacing: 2px;
    padding-top: 1rem;
    display: block;

    > b {
      display: block;
    }
  }

  .info {
    padding-right: 40px;
    font-size: 16px;
    @include media(desktop) {
      width: 45%;
      float: left;
    }
  }

  .resource a {
    color: $body-color-content;
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #eee;
    border-radius: 2px;
    text-align: center;
    margin-right: 1%;
    text-decoration: none;

    &:hover {
      border-color: #ddd;
    }
  }

  .fa-github {
    font-size: 20px;
  }

  .screen {
    @include media(desktop) {
      width: 55%;
    }
  }

  .project-short {
    padding: 1rem 0 0 0;
    max-height: 256px;
    min-height: 256px;
    overflow: hidden;

    @include media(desktop) {
      padding: 0 0 0 1rem;
    }
  }
}
