.carousel {
    .carousel-control {
        &[data-slide="prev"] {
            float: left;

            .carousel-control-prev-icon {
                background-image: url('../assets/images/icon/left-arrow.svg');
            }
        }
        &[data-slide="next"] {
            float: right;

            .carousel-control-next-icon {
                background-image: url('../assets/images/icon/right-arrow.svg');
            }
        }
    }
}
