$top-navbar-bg: #a19f9f;
$slider-bg: #cccccc;
$service-bg: #a19f9f;


$red: #e4212c;

//line-color
$line-blue: #01579b;
$line-blue-green: #009688;
$line-orange: #ff9800;
$line-pink: #ff4081;
$line-lime: #aebf08;
$line-purple: #512da8;

$form-border-color: #f8e6e6;



//Text Color
$text-footer: #252a2c;


//Background Color
$bg-footer-menu: #262a2d;
$bg-copyright: #FFFFFF;