@mixin menu-footer-line($color) {
    content: "";
    width: 30%;
    height: 5px;
    border-radius: 2px;
    display: block;
    margin-bottom: 20px;
    background-color: $color;
}

.footer-menu {
    background-color: $bg-footer-menu;
    color: $white;
    padding: 30px 0;

    p {
        line-height: 1.3;
        margin: 20px 0 0px;
    }

    h6 {
        &.title {
            color: $white;
            font-weight: $semibold;

            &::after {
                content: "";
                width: 25%;
                height: 2px;
                background-color: #e4212c;
                display: block;
                margin: 25px 0;
            }
        }
    }

    address {
        font-size: 14px;

        .address-list {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin-bottom: 10px;

                img {
                    margin-right: 5px;
                }
            }
        }
    }

    .form-send-email {
        .form-row {
            &>.col {
                padding: 0;
            }
        }

        .form-control {
            background-color: transparent;
            border: 1px solid $white;
            border-radius: 0;
            font-size: 14px;
            color: $white;
            min-height: 50px;
            padding: 10px;

            &::placeholder {
                color: $white;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}


.copyright {
    color: $text-footer;
    padding: 10px 0;
    width: 100%;

    font: {
        weight: $semibold;
        size: 14px;
    }

    .navbar {
        &-nav {
            .nav {
                &-link {
                    color: $text-footer;
                    text-transform: uppercase;
                    padding: 0.5rem 1.5rem;
                }
            }
        }
    }

    .logo {
        a {
            img {
                max-width: 200px;
                ;
            }
        }
    }

}