@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Prompt:200,300,400,500,600,700');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import "font";
@import "color";
@import "header";
@import "slider";
@import "our-service";
@import "project";
@import "footer";
@import "carousel";

body {
    font: {
        family: $font-family-default;
        weight: $regular;
        size: 16px;
    }
    line-height: 1;
}

p{
    margin: 0;
}
