---
export interface Props {
  title: string;
  description?: string;
  bodyClass?: string;
}
const { title, description = 'Prototype', bodyClass = '' } = Astro.props;
---
<!doctype html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="preconnect" href="https://a-chieve.org" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,400..600,0..1,0"
    />
    <link rel="stylesheet" href="/prototype/css/prototype-tailwind.css" />
    <link rel="stylesheet" href="/prototype/css/style.css" />
    <slot name="head" />
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
